## MAC OS
.DS_Store
*.pem
.idea

## 3rdparty:
.vscode
.nova

## Python
__pycache__/

## Build
*.egg-info
build

## PROJECT::GENERAL
log
db.yaml
*.csv*
*.log
pkg
tmp
*.svg
scratch.*

## Research:
research/*.pdf
research/**/*.zip
.ipynb_checkpoints


## DB
dump/
